#container{
    width: 400px;
    height: 400px;
    background-color: gainsboro;
    margin: auto;
    margin-top: 40px;
}
.flying_box{
    width: 200px;
    height: 60px;
    background-color: palevioletred;
    position: relative;
    left: 100px;
    top: 150px;
    font-size: 18px;
}
p{
    text-align: center;
    position: relative;
    top: 18px;
}