body{
    background-color: antiquewhite;
}
.container{
    max-width:900px;
    background-color: yellow;
    margin: auto;
}
#sec-title{
    display:flex;
    justify-content: space-between;
}
#title{
    font-size: 20px;
}
#Menu{
    display: flex;
    gap:20px;
}
.active{
    color: blue;
    text-decoration: underline double;
    
}
