body{
    background-color: pink;
}
h2:hover{
    color:blue;
}
.title{
    color:blue;
}
.subtitle{
    color:red;
}
.service{
    color:red;
}
li:first-child{
    color:slateblue
}
td:only-child{
    color:purple;
}
a:hover{
    color:green;
    font-size:20px;
    margin:10px;
}
.contact{
    color:red;
}