body{
    background-color: white;
}
#container{
    width:900px;
    background-color: white;
    margin: auto;
}
#menu-list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    font-size: 24px;
}
.title{
    font-size: 32px;
    text-align: center;
}
.menu-items.active{
    color:blue;
    text-decoration: underline double;
}
#section-detail img{
    border: 5px solid black;
    padding: 10px;
    margin-top: 50px;
}
#section-detail{
    display:flex;
}
.right{
    margin-top: 20px;
    margin-left: 20px;
}
.right h3 b{
    font-size: 32px;
}
p{
    font-size: 20px;
}
b{
    font-size: 24px;
}
.recipes{
    font-size: 32px;
}
#section-recipes{
    display: flex;
    align-items: center;
}
#line1 img{
    border: 5px solid black;
    padding:20px 90px 50px 90px;
}
#line2 img{
    border: 5px solid black;
    padding:20px 90px 50px 90px;
}
#line1,#line2{
    margin-top: 10px;
}
#line2{
    margin-left: 45px;
}
.intro{
    text-align: center;
}