*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100vh;
    background-color: #6A5870;
    display: flex;
    justify-content: center;
    align-items: center;

    #SearchContainer{
        background-color: #EBE7B7;
        padding:.3rem;
        border-radius: 5000px;
        display: flex;
        gap: 5px;
        align-items: center;

        #showInput{
            display: none;
            &:checked ~ #SearchInput{
                width:300px;
            }
        }

        #SearchInput{
            width:0px;
            border:none;
            outline: none;
            padding:.3rem;
            transition: 200ms;
            background: transparent;
            text-align: center;
        }
        
        label{
            cursor: pointer;
            svg{
                width:25px;
            }
        }
    }
}
        