@media (min-width:600px) {
    #container{
        background-color: gainsboro;
        height: 500px;
    }
    .content1{
        padding: 20px;
        width: 200px;
        height: 60px;
        background-color: greenyellow;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: relative;
        top: 40%;
        left: 37%;
    }
    .big{
        color: white;
        font-size: 35px;
    }
    .small{
        visibility: hidden;
    }
}
@media (max-width:600px){
    #container{
        background-color: gainsboro;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content2{
        padding: 20px;
        width: 100px;
        height: 50px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: relative;
        right: 5%;
    }
    .big{
        visibility: hidden;
    }
    .small{
        color: white;
        font-size: 18px;
    }
}