#container{
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin: auto;
}
.Top{
    width: 600px;
    height: 300px;
}
.left_Top{
    width: 200px;
    height: 200px;
    background-color: gainsboro;
    position: relative;
    left: 90px;
    top: 60px;
}
.box1{
    width: 120px;
    height: 120px;
    background-color: orange;
    position: relative;
    top: 40px;
    right: 60px;
}
.Bottom{
    width: 600px;
    height: 300px;
}
.right_Bottom{
    width: 200px;
    height: 200px;
    background-color: gainsboro;
    position: relative;
    left: 300px;
    top: 130px;
}
.box2{
    width: 120px;
    height: 120px;
    background-color: orange;
    position: relative;
    left: 40px;
    top: 135px;
}