body{
    background-color: aquamarine;
}
.contain{
    border:4px solid yellow;
    box-shadow: 0 0 20px yellow,
            inset 0 0 20px yellow;
    background-color: goldenrod;
    border-radius: 10%;
    margin:auto;
    margin-top:5%;
    width:400px;
    height:500px;
}
h1{
    text-align: center;
    color:yellow;
    font-size:30px;
}
.c{
    text-align: center;
    color:yellow;
    margin-bottom:10px;
}
h2{
    text-align: center;
    font-size:25px;
}
h2:hover{
    color:white;
}
h3{
    text-align: center;
    font-size:25px;
}
h3:hover{
    color:white;
}
a{
    text-decoration: none;
    color:black;
}
.Box{
    border-bottom: 10px solid yellow;
}
.Big{
    border:10px solid goldenrod;
}
.Big2{
    border:10px solid goldenrod;
}
.box1{
    background-color: yellow;
    border:5px solid yellow;
    /* box-shadow: 0 0 20px yellow,
    inset 0 0 20px yellow; */
    border-radius:20px;
    margin-top:3% ;
}
.box1:hover{
    background-color:hotpink;
    border: 5px solid hotpink;
}
.box2{
    background-color: yellow;
    border:5px solid yellow;
    /* box-shadow: 0 0 20px yellow,
    inset 0 0 20px yellow; */
    border-radius:20px;
    margin-top:3% ;
}
.box2:hover{
    background-color:hotpink;
    border: 5px solid hotpink;
}
.facebook{
    float:left;
    background-color: yellow;
    border:5px solid yellow;
    /* box-shadow: 0 0 20px yellow,
    inset 0 0 20px yellow; */
    border-radius:20px;
    margin-top:0.01% ;
    width:170px;
}
.facebook:hover{
    background-color: blue;
    border: 5px solid blue;
}
.google{
    float:right;
    background-color: yellow;
    border:5px solid yellow;
    /* box-shadow: 0 0 20px yellow,
    inset 0 0 20px yellow; */
    border-radius:20px;
    margin-top:0.01% ;
    width:170px;
}
.google:hover{
    background-color: red;
    border: 5px solid red;
}