#container{
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin: auto;
}
.Top{
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Left_Top{
    width: 200px;
    height: 200px;
    background-color: gainsboro;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}
.box1{
    width: 60px;
    height: 200px;
    background-color: orange;
}
.box2{
    width: 60px;
    height: 200px;
    background-color: orange;
    display: grid;
    align-items: center;
    justify-content: center;

}
.b1{
    width: 55px;
    height: 60px;
    background-color: rgba(38, 91, 122, 1);
}
.b2{
    width: 55px;
    height: 60px;
    background-color: rgba(38, 91, 122, 1);
}
.b3{
    width: 55px;
    height: 60px;
    background-color: rgba(38, 91, 122, 1);
}
.box3{
    width: 60px;
    height: 200px;
    background-color: orange;
}
.Rigth_Top{
    width: 200px;
    height: 200px;
    background-color: gainsboro;
    padding: 5px;
    display: grid;
    align-items: center;
}
.box4{
    width: 200px;
    height: 60px;
    background-color: orange;
}
.box5{
    width: 200px;
    height: 60px;
    background-color: orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.b4{
    width: 60px;
    height: 55px;
    background-color: rgba(38, 91, 122, 1);
}
.b5{
    width: 60px;
    height: 55px;
    background-color: rgba(38, 91, 122, 1);
}
.b6{
    width: 60px;
    height: 55px;
    background-color: rgba(38, 91, 122, 1);
}
.box6{
    width: 200px;
    height: 60px;
    background-color: orange;
}
.Bottom{
    width: 600px;
    height: 300px;
    display: flex   ;
    justify-content: center;
    align-items: center;
}
.center_bottom{
    width: 200px;
    height: 200px;
    background-color: gainsboro;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    
}
.left-b{
    width: 130px;
    height: 200px;
    display: grid;

}
.left_b_top{
    width: 129px;
    height: 60px;
    background-color: orange;
}
.left_b_bottom{
    width: 130px;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.left_b_bottom_left{
    width: 57px;
    height: 138px;
    display: grid;
    align-items: center;
    justify-content: start;
}
.p1{
    width: 54px;
    height: 63px;
    background-color: orange;
}
.p2{
    width: 54px;
    height: 65px;
    background-color: orange;
}
.left_b_bottom_rigth{
    width: 70px;
    height: 133px;
    background-color: orange;
}
.right-b{
    width: 65px;
    height: 200px;
    background-color: orange;
    display: grid;
    justify-content: center;
    align-items: center;
}
.b7{
    width: 58px;
    height: 93px;
    background-color: rgba(38, 91, 122, 1);
}
.b8{
    width: 58px;
    height: 93px;
    background-color: rgba(38, 91, 122, 1);
}