#container{
    width: 2000px;
    height: 1400px;
    margin: auto;
    background-color: rgba(43, 138, 62, 1);
    padding: 10px;
}
.Box-1{
    width: 1900px;
    height: 100px;
    background-color: rgba(169, 209, 142, 1);
    margin: 30px;
    padding: 20px;
}
.text-1{
    font-size: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.Box-2{
    width: 1900px;
    height: 100px;
    background-color: rgba(169, 209, 142, 1);
    margin: 25px;
    padding: 20px;
}
.text-2{
    font-size: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
}
.Box-3{
    width: 1940px;
    height: 800px;
    /* background-color: white; */
    margin: 12px;
    padding: 20px;
}
.left-box{
    float: left;
    width: 1200px;
    height: 810px;
    /* background-color: brown; */
}
.left-top{
    width: 1200px;
    height: 550px;
    background-color: rgba(169, 209, 142, 1);
    display: grid;
    justify-content: center;
}
.text-3{
    font-size: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.small-1{
    width: 1050px;
    height: 80px;
    background-color: rgba(226, 240, 217, 1);
    display: flex;
    align-items: center;
}
.small-box-1{
    font-size: 50px;
    padding: 15px;
}
.small-2{
    width: 1050px;
    height: 290px;
    background-color: rgba(226, 240, 217, 1);
    display: flex;
    align-items: center;
}
.small-box-2{
    font-size: 50px;
    padding: 15px;
}
.left-down{
    width: 1200px;
    height: 220px;
    background-color: rgba(169, 209, 142, 1);
    position: relative;
    top: 38px;
    display: flex;
    align-items: center;
}
.main{
    font-size: 50px;
    padding: 15px;
}
.right-box{
    float: right;
    width: 700px;
    height: 900px;
    /* background-color: brown; */
}
.aside-top{
    width: 700px;
    height: 300px;
    /* background-color: blue; */
}
.side-left{
    float: left;
    width: 325px;
    height: 300px;
    background-color: rgba(169, 209, 142, 1);
    display: grid;
    align-items: center;
}
.side-1{
    font-size: 50px;
    padding: 15px;
}
.side-right{
    float: right;
    width: 325px;
    height: 300px;
    background-color: rgba(169, 209, 142, 1);
    display: grid;
    align-items: center;
}
.side-2{
    font-size: 50px;
    padding: 15px;
}
.aside-down{
    width: 700px;
    height: 480px;
    background-color: rgba(169, 209, 142, 1);
    position: relative;
    top: 29px;
    display: grid;
    align-items: center;
}
.side-one{
    font-size: 50px;
    padding: 15px;
}
.Box-4{
    width: 1900px;
    height: 100px;
    background-color: rgba(169, 209, 142, 1);
    margin: 30px;
    padding: 20px;
}
.text-4{
    font-size: 50px;
    padding: 15px;
    display: flex;
    align-items: center;
}