<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout #2</title>
    <link rel="stylesheet" href="./layout-2.css">
</head>
<body>
    <div id="container">
        <div class="Box-1">
            <span class="text-1">Page Header</span>
        </div>
        <div class="Box-2">
            <span class="text-2">Nav</span>
        </div>
        <div class="Box-3">
            <div class="left-box">
                <span class="text-3">Article</span>
                <div class="inside-box">
                    <div class="box-1">
                        <span class="tet1">Article Header</span>
                    </div>
                    <div class="box-2">
                        <span class="tet2">Main</span>
                    </div>
                </div>
            </div>
            <div class="right-box">
                <span class="text-4">Aside</span>
            </div>
        </div>
        <div class="Box-4">
            <span class="text-5">Section</span>
        </div>
        <div class="Box-5">
            <span class="text-6">Footer</span>
        </div>
    </div>
</body>
</html>