<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout #3</title>
    <link rel="stylesheet" href="./layout-3.css">
</head>
<body>
    <div id="container">
        <div class="Box-1">
            <span class="text-1">Page Header</span>
        </div>

        <div class="Box-2">
            <span class="text-2">Nav</span>
        </div>
        <div class="Box-3">
            <div class="left-box">
                <div class="left-top">
                    <span class="text-3">Article</span>
                    <div class="small-1"><span class="small-box-1">Article Header</span></div>
                    <div class="small-2"><span class="small-box-2">Main</span></div>
                </div>
                <div class="left-down">
                    <span class="main">Main</span>
                </div>
            </div>
            <div class="right-box">
                <div class="aside-top">
                    <div class="side-left"><span class="side-1">Aside</span></div>
                    <div class="side-right"><span class="side-2">Aside</span></div>
                </div>
                <div class="aside-down">
                    <div class="side-one"><span>Aside</span></div>
                </div>
            </div>
        </div>
        <div class="Box-4">
            <span class="text-4">Footer</span>
        </div>
        
    </div>
</body>
</html>