#container{
    width: 1300px;
    height: 1050px;
    margin: auto;
    /* background-color: bisque; */
    display: grid;
    justify-content: center;
}
.First-Box{
    width: 950px;
    height: 100px;
    background-color: white;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}
.box1{
    width: 170px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: none;
    background-color: rgba(22, 119, 255, 1);
    color: white;
    border-radius: 10px;
}
.box2{
    width: 170px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 3px solid rgba(236, 236, 236, 1);
    border-radius: 10px;
    background-color: white;
}
.box3{
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: white;
    border: 3px dashed rgba(236, 236, 236, 1);
    border-radius: 10px;
}
.box4{
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: white;
    border: none;
}
.box5{
    width: 200px;
    height: 50px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: white;
    border: none;
    color: rgba(22, 119, 255, 1);
}
.Second-Box{
    width: 950px;
    height: 220px;
    background-color: white;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
}
.top-box{
    width: 940px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: end;
    gap: 15px;
    position: relative;
    left: 16px;
}
.seach1{
    width: 60px;
    height: 60px;
    background-color: rgba(22, 119, 255, 1);
    border-radius: 60px; 
    color: white;
}
svg{
    display: flex;
    position: relative;
    top: 9px;
    left: 10px;
}
.tet{
    font-size: 40px;
    display: flex;
    position: relative;
    top: 6px;
    left: 14px;
    color: white;
}
.text1{
    width: 60px;
    height: 60px;
    background-color: rgba(22, 119, 255, 1);
    border-radius: 60px; 
}
.search-big1{
    width: 200px;
    height: 60px;
    background-color: rgba(22, 119, 255, 1);
    color: white;
    border-radius: 10px;
}
.textsearch1{
    font-size: 28px;
    position: relative;
    left: 70px;
    bottom: 25px;
}
.search2{
    width: 60px;
    height: 60px;
    border: 3px solid rgba(236, 236, 236, 1);
    border-radius: 60px; 
    color: black;
}
.search-big2{
    width: 200px;
    height: 60px;
    border: 3px solid rgba(236, 236, 236, 1);
    color: black;
    border-radius: 10px;
}
.bottom-box{
    width: 940px;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 15px;
    position: relative;
    left: 16px;
    top: 15px;
}
.search4{
    width: 60px;
    height: 60px;
    border: 3px solid rgba(236, 236, 236, 1);
    border-radius: 60px; 
    color: black;
}
.text-big3{
    width: 200px;
    height: 60px;
    border: 3px solid rgba(236, 236, 236, 1);
    color: black;
    border-radius: 10px;
}
.search5{
    width: 60px;
    height: 60px;
    border: 3px dashed rgba(236, 236, 236, 1);
    border-radius: 60px; 
    color: black;
}
.search-big4{
    width: 200px;
    height: 60px;
    border: 3px dashed rgba(236, 236, 236, 1);
    color: black;
    border-radius: 10px;
}
.search6{
    width: 60px;
    height: 60px;
    border: 3px solid rgba(236, 236, 236, 1);
    border-radius: 10px; 
    color: black;
}
.Third-Box{
    width: 950px;
    height: 500px;
    background-color: white;
    border: 5px solid black;
    margin: 20px;
    padding: 10px;
}
.primary{
    width: 930px;
    height: 60px;
    background-color: rgba(22, 119, 255, 1);
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.default{
    width: 930px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgba(236, 236, 236, 1);
}
.dashed{
    width: 930px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px dashed rgba(236, 236, 236, 1);
}
.disabled{
    width: 930px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid rgba(236, 236, 236, 1);
    background-color: rgba(236, 236, 236, 1);
}
.text{
    width: 930px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin: 15px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.link{
    width: 930px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgba(22, 119, 255, 1);
}